.aboutus-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.15);
  text-align: center;
}



.header h1 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

.aboutus-image {
  width: 120px;
  margin-bottom: 20px;
}

.aboutus-content p {
  font-size: 16px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}

.aboutus-content h3 {
  color: #ff4d6d;
  margin-bottom: 10px;
}
