.course-container {
  padding: 20px;
  max-width: 900px;
  margin: auto;
}

.course-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Navigation Menu */
.nav-menu {
  display: flex;
  gap: 20px;
  list-style: none;
  margin-bottom: 30px;
  padding-left: 0;
  justify-content: flex-end; 
}

.nav-menu li a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: 0.3s;
}

.nav-menu li a:hover {
  color: #ff4d6d;
}


.course-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #fff;
}

.course-info {
  display: flex;
  align-items: center;
  gap: 15px;
}

.course-info img {
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
}

.course-name {
  font-weight: bold;
  font-size: 16px;
}

.course-date {
  display: block;
  font-size: 14px;
  color: #666;
}

.status.completed {
  color: green;
  font-weight: bold;
}

.status.ongoing {
  color: orange;
  font-weight: bold;
}

.status.upcoming {
  color: blue;
  font-weight: bold;
}
